{{!-- <h1>{{name}}</h1>
<p>{{role}}</p> --}}
{{!-- <a href="/user1">user1</a> --}}
    <section id="team-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center wow fadeInDown" data-wow-duration="2s" data-wow-delay="50ms">
                        <h2>{{role}}</h2>
                      
                    </div>                        
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="300ms">
                    <div class="team-member">
                     <a href="/user1"><img id="img-1" class="img-fluid" src="/images/{{m1}}" alt="1"></a>
                        <div class="team-details">
                            <h4>Apex Legends</h4>
                            <p>{{free}}</p>
                       
                        </div>
                    </div>
                </div><!-- /.col-md-3 -->
                <div class="col-md-4 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="600ms">
                    <div class="team-member">
                      <a href="/user2"><img id="img-1" class="img-fluid" src="/images/{{m2}}" alt="2"></a>
                        <div class="team-details">
                            <h4>Call of Duty</h4>
                            <p>{{price1}}</p>
                       
                        </div>
                    </div>
                </div><!-- /.col-md-3 -->
                <div class="col-md-4 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="900ms">
                    <div class="team-member">
          <a href="/user3"><img id="img-1" class="img-fluid" src="/images/{{m3}}" alt="3"></a>
                        <div class="team-details">
                            <h4>Dead Cells</h4>
                            <p>{{price2}}</p>
                   
                        </div>
                    </div>
                </div><!-- /.col-md-3 -->
               
            </div>
                <div class="row">
                <div class="col-md-4 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="300ms">
                    <div class="team-member">
                     <a href="/user4"><img id="img-1" class="img-fluid" src="/images/{{m4}}" alt="1"></a>
                        <div class="team-details">
                            <h4>DOTA2</h4>
                            <p>{{free}}</p>
                       
                        </div>
                    </div>
                </div><!-- /.col-md-3 -->
                <div class="col-md-4 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="600ms">
                    <div class="team-member">
                      <a href="/user5"><img id="img-1" class="img-fluid" src="/images/{{m5}}" alt="2"></a>
                        <div class="team-details">
                            <h4>League of Legends</h4>
                            <p>{{free}}</p>
                       
                        </div>
                    </div>
                </div><!-- /.col-md-3 -->
                <div class="col-md-4 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="900ms">
                    <div class="team-member">
          <a href="/user6"><im id="img-1" class="img-fluid" src="/images/{{m6}" alt="3"></a>
                        <div class="team-details">
                            <h4>Monster Hunter: World</h4>
                            <p>{{price1}}</p>
                   
                        </div>
                    </div>
                </div><!-- /.col-md-3 -->
               
            </div>
                  <div class="row">
                <div class="col-md-4 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="300ms">
                    <div class="team-member">
                     <a href="/user7"><img id="img-1" class="img-fluid" src="/images/{{m7}}" alt="1"></a>
                        <div class="team-details">
                            <h4>PlayerUnknown's Battlegrounds</h4>
                            <p>{{price3}}</p>
                       
                        </div>
                    </div>
                </div><!-- /.col-md-3 -->
                <div class="col-md-4 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="600ms">
                    <div class="team-member">
                      <a href="/user8"><img id="img-1" class="img-fluid" src="/images/{{m8}}" alt="2"></a>
                        <div class="team-details">
                            <h4>Stardew Valley</h4>
                            <p>{{price4}}</p>
                       
                        </div>
                    </div>
                </div><!-- /.col-md-3 -->
                <div class="col-md-4 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="900ms">
                    <div class="team-member">
          <a href="/user9"><img id="img-1" class="img-fluid" src="/images/{{m9}}" alt="3"></a>
                        <div class="team-details">
                            <h4>Total War: WARHAMMER II</h4>
                            <p>{{price5}}</p>
                   
                        </div>
                    </div>
                </div><!-- /.col-md-3 -->
            
            </div>
        </div>
    </section>




