{{!-- <h1>Welcome {{name1}}!</h1>
<img src="/images/{{bioPic}}" alt="bio image">
<p>You are currently logged in as {{role1}}.</p>
<p>{{bio}}</p> --}}

<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{name1}}</h5>
        <p class="card-text"><small class="text-muted">{{role1}}</small></p>
    <p class="card-text">{{bio}}</p>
  <a class="button" href="#">Add to Cart</a>
  </div>
  <img id="game-img" src="/images/{{bioPic}}" class="card-img-top" alt="game-image">

</div>